# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# VS Code
.vscode/

# Eclipse
.classpath
.project
.settings/
.springBeans

# Mac
.DS_Store

# Node
node_modules/
dist/
npm-debug.log
yarn-error.log

# Docker
.env
